@model WebAppMono1.Models.Photo

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
